@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define font faces with correct paths and font weights */
@font-face {
  font-family: "gsans";
  src: url("/googlesans/ProductSans-Regular.ttf");
}

@font-face {
  font-family: "gsans";
  src: url("/googlesans/ProductSans-Medium.ttf");
}

@font-face {
  font-family: "gsans";
  src: url("/googlesans/ProductSans-Bold.ttf");
}

@font-face {
  font-family: "gsans";
  src: url("/googlesans/ProductSans-Black.ttf");
}
